@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url(normalize.css);

body {
  font-family: "Comfortaa", sans-serif;
  background: #f3f6fd;
  display: flex;
}

.panel__container {
  display: flex;
  height: 100vh;
  width: 151px;
  text-align: center;
  flex-direction: column;
  padding-top: 28px;
  gap: 48px;
  background: #fbfaff;
}

.panel__logo-h2 {
  font-weight: 700;
  font-size: 18px;
}

.panel__category,
.panel__category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.panel__category-button {
  border-radius: 14px;
  width: 46px;
  height: 45px;
  box-shadow: 0 8px 14px 0 rgba(62, 107, 224, 0.12);
  background: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5051F9;
}

.panel__category-button:hover {
  background: #6a6afb;
}

.panel__category-button:hover img {
  filter: brightness(0) invert(1);
}

.panel__category-icon {
  color: #5051F9;
}

.active {
  background: #5051f9;
}

.active img {
  filter: brightness(0) invert(1);
}

.add {
  background: none;
  border: 1px solid #CAD5FF;
  border-radius: 14px;
}

.main__container {
  padding: 45px 41px;
  width: 100%;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.main__header-h1 {
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

.main__progress-text {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 235px;
}

.main__progress-name {
  font-weight: 400;
  font-size: 14px;
  color: #232360;
}

.main__progress-percent {
font-weight: 400;
font-size: 12px;
color: #768396;
}

.main__progress-bar {
  width: 100%;
  border-radius: 4px;
  height: 5px;
  background: #E6E9ED;
}

.main__progress-bar-fill {
  border-radius: 4px;
  width: 80%;
  height: 5px;
  background: #5051f9;
}

.main__content-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main__content-item {
  display: flex;
  border: none;
  border-radius: 10px;
  height: 54px;
  width: 100%;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
}

.content__day {
  background: #fbfaff;
  width: 129px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.content__text {
  border: 1px solid #e7ebfb;
  border-radius: 9px;
  width: 100%;
  height: 39px;
}

.content__title {
  padding-left: 24px;
  display: flex;
  gap: 14px;
  width: 100%;
}

.content__text::placeholder {
  padding-left: 48px;
  font-weight: 400;
  font-size: 14px;
  color: #8899a8;
}

.content__button {
  border-radius: 9px;
  border: none;
  width: 120px;
  height: 39px;
  background: #edecfe;
  font-weight: 500;
  font-size: 13px;
  color: #5051f9;
  margin-right: 5px;
}

.content__icon {
  position: absolute;
  margin-left: 20px;
  margin-top: 9px;
  z-index: 1;
}

.content__delete {
  position: absolute;
  right: 54px;
  z-index: 1;
  cursor: pointer;
}