@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url(normalize.css);

body {
  font-family: "Comfortaa", sans-serif;
  background: #f3f6fd;
  display: flex;
}

.panel__container {
  display: flex;
  height: 100vh;
  width: 151px;
  text-align: center;
  flex-direction: column;
  padding-top: 28px;
  gap: 48px;
  background: #fbfaff;
}

.panel__logo-h2 {
  font-weight: 700;
  font-size: 18px;
}

.panel__category,
.panel__category-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.panel__category-button {
  border-radius: 14px;
  width: 46px;
  height: 45px;
  box-shadow: 0 8px 14px 0 rgba(62, 107, 224, 0.12);
  background: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5051F9;
}

.panel__category-button:hover {
  background: #6a6afb;
}

.panel__category-button:hover img {
  filter: brightness(0) invert(1);
}

.panel__category-icon {
  color: #5051F9;
}

.icon {
  border: 1px solid #5051F9;
  border-radius: 14px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.icon_active {
  background: #5051F9;
}

.icon:hover {
  background: #6A6AFB;
}

.icon:hover img {
  filter: brightness(0) invert(1);
}

.icon_active img {
  filter: brightness(0) invert(1);
}


.add {
  background: none;
  border: 1px solid #CAD5FF;
  border-radius: 14px;
}

.main__container {
  padding: 45px 41px;
  width: 100%;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.main__header-h1 {
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

.main__progress-text {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 235px;
}

.main__progress-name {
  font-weight: 400;
  font-size: 14px;
  color: #232360;
}

.main__progress-percent {
font-weight: 400;
font-size: 12px;
color: #768396;
}

.main__progress-bar {
  width: 100%;
  border-radius: 4px;
  height: 5px;
  background: #E6E9ED;
}

.main__progress-bar-fill {
  border-radius: 4px;
  transition: all 0.5s;
  height: 5px;
  background: #5051f9;
}

.main__content,
.main__content-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main__content-item {
  display: flex;
  border: none;
  border-radius: 10px;
  height: 54px;
  width: 100%;
  background: #fff;
  font-weight: 500;
  font-size: 14px;
  align-items: center;
}

.content__day {
  background: #fbfaff;
  width: 129px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.content__text {
  border: 1px solid #e7ebfb;
  border-radius: 9px;
  width: 100%;
  height: 39px;
  padding-left: 36px;
}

.content__title {
  padding: 0 10px 0 25px;
  display: flex;
  gap: 14px;
  width: 100%;
  position: relative;
}

.content__text::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #8899a8;
}

input {
  background: #FFFFFF;
  border: 1px solid #E7EBFB;
  border-radius: 9px;
  padding: 12px 20px;
  font-family: 'Comfortaa', cursive;
  flex: 1;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

input::placeholder {
  color: #8899A8;
}

input.error {
  border: 1px solid red;
}

.content__button {
  border-radius: 9px;
  border: none;
  width: 120px;
  height: 39px;
  background: #edecfe;
  font-weight: 500;
  font-size: 13px;
  color: #5051f9;
  margin-right: 5px;
}

.content__icon {
  position: absolute;
  top: 10px;
  left: 35px;
}

.content__delete {
  border: none;
  padding: 0;
  background: transparent;
  display: flex;
  margin-right: 12px;
}

@media (max-width: 600px) {
  .main__header {
    flex-direction: column;
  }
}

.cover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover__hidden {
  display: none;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 19px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: #fff;
  width: 424px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.cover__h2 {
  font-weight: 400;
  font-size: 24px;
}

.cover__h3 {
  font-weight: 500;
  font-size: 14px;
}

.cover__button {
  border-radius: 9px;
  border: none;
  width: 120px;
  height: 39px;
  background: #edecfe;
  font-weight: 500;
  font-size: 13px;
  color: #5051f9;
}

.cover__close {
  border: none;
  background: none;
  position: absolute;
  right: 5px;
  top: 2px;
  cursor: pointer;
}

.cover__field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 100%;
}

.icon-select {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .panel__logo-h2 {
    font-size: 14px;
  }

  .content__title {
    gap: 2px;
    padding-left: 6px;
  }

  .content__icon {
    display: none;
  }

  .content__day {
    width: 100px;
  }

  .main__container {
    padding: 0;
  }

  .panel__container {
    width: auto;
  }
}